﻿
@{
    ViewBag.Title = "ArticleCategory";
    Layout = "/Views/Admin/_Layout.cshtml";

    var _ListCategory = new List<Article_Category_Model>();
    if (ViewBag.ListCategory != null)
    {
        _ListCategory = ViewBag.ListCategory as List<Article_Category_Model>;
    }
}
<header class="page-header">
    <h2>Danh mục nội dung</h2>
    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="#">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li></li>
        </ol>
    </div>
</header>
<div class="row">
    <div class="col-md-12">
        <div class="card border">
            <div class="card-header">
                <button class="modal-with-zoom-anim btn btn-info float-right" type="button" onclick="Edit(0)">
                    <i class="fa fa-plus"></i>
                    Thêm
                </button>
            </div>
            <div class="card-body">
                @{
                    if (_ListCategory.Count > 0)
                    {
                        <table class="table table-sm data">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Danh mục</th>
                                    <th>Nội dung mô tả</th>
                                    <th>Thứ tự</th>
                                    <th>Ẩn/ hiện</th>
                                    
                                    <th class="text-right">

                                    </th>
                                </tr>
                            </thead>
                            <tbody id="tblBody">
                                @for (int i = 0; i < _ListCategory.Count; i++)
                                {
                                    #region [--Fetch Data--]
                                    var rec = _ListCategory[i];
                                    string Key = rec.CategoryKey.ToString();
                                    string No = (i + 1).ToString();
                                    string Description = rec.Description;
                                    string Name = rec.CategoryName;
                                    bool Publish = rec.Publish;
                                    int Rank = rec.Rank;
                                    #endregion

                                    <tr>
                                        <th>@No</th>
                                        <td>@Name</td>
                                        <td>@Description</td>
                                        <td>@Rank</td>
                                        <td>
                                            @if (Publish)
                                            {
                                                <div class="switch switch-sm switch-success">
                                                    <input type="checkbox" name="switch" data-plugin-ios-switch checked="checked" onchange="Activate(@Key)" />
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="switch switch-sm switch-success">
                                                    <input type="checkbox" name="switch" data-plugin-ios-switch onchange="Activate(@Key)" />
                                                </div>
                                            }
                                        </td>
                                        <td class="text-right">
                                            <button type="button" class="btn btn-outline-primary btn-sm modal-with-zoom-anim" onclick="Edit(@Key)">
                                                <i class="far fa-edit"></i>
                                            </button>
                                            <button type="button" class="btn btn-outline-danger btn-sm" onclick="Delete(@Key)">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    }
                    else
                    {
                        <div class="alert alert-primary">
                            <strong>Bạn chưa cập nhật, hoặc không tìm thấy dữ liệu phù hợp !</strong>.
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
<form id="modalEdit" class="zoom-anim-dialog modal-block modal-header-color modal-block-info mfp-hide" 
      action="@Url.Action("Save_Article_Category","Admin")"
      method="post" enctype="multipart/form-data">
    <div class="card border border-primary">
        <div class="card-header">
            <h2 class="card-title">Thông tin danh mục</h2>
        </div>
        <div class="card-body border-primary">
            <div class="form-group row">
                <label for="cbo_Category" class="col-lg-5 col-xl-3 control-label text-lg-right">Danh mục cha</label>
                <div class="col-lg-7 col-xl-9">
                    <select id="cbo_Category" class="form-control select2" name="Parent">
                        <option value="0">--Không có--</option>
                        @{
                            var ParentList = _ListCategory.Where(s => s.Parent == 0);
                            foreach (var zItem in ParentList)
                            {
                                <option value="@zItem.CategoryKey">@zItem.CategoryName</option>
                            }
                        }
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="txt_CategoryName" class="col-lg-5 col-xl-3 control-label text-lg-right">Tên danh mục</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control" id="txt_CategoryName" value="" placeholder="" name="CategoryName" required="">
                </div>
            </div>
            <div class="form-group row">
                <label for="txt_Description" class="col-lg-5 col-xl-3 control-label text-lg-right">Diễn giải </label>
                <div class="col-lg-7 col-xl-9">
                    <textarea class="form-control" rows="3" id="txt_Description" name="Description"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label for="ArticleBanner" class="col-lg-5 col-xl-3 control-label text-lg-right">Banner danh mục</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="file" id="ArticleBanner" class="" accept="image/*;capture=camera" />
                </div>
            </div>
            <div class="form-group row">
                <label for="txt_CategoryName" class="col-lg-5 col-xl-3 control-label text-lg-right">Thứ tự hiển thị</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control" id="txt_Rank" value="" placeholder="" name="rank">
                </div>
            </div>
            <div class="card-footer border-primary text-center">
                <button id="btn_Cancel" type="button" class="btn btn-outline-secondary modal-dismiss">
                    <i class="far fa-times-circle"></i>
                    Đóng
                </button>
                <button id="btn_Save" type="submit" class="btn btn-outline-primary modal-confirm">
                    <i class="far fa-save"></i>
                    Cập nhật
                </button>
            </div>
        </div>
    </div>
    <input id="txt_CategoryKey" type="hidden" name="CategoryKey" value="0" />
</form>

@section scripts{
    <script>
        var URL_Edit = "@Url.Action("Edit_Article_Category", "Admin")";
        var URL_Delete = "@Url.Action("Delete_Article_Category", "Admin")";
        var URL_Save = "@Url.Action("Save_Article_Category", "Admin")";
        var URL_Publish = "@Url.Action("Publish_Article_Category", "Admin")";
    </script>
    <script>
        $(document).ready(function () {

        });
        function Save() {
            var zPublish = $("#cbo_Publish").val();
            if (zPublish == 1)
                zPublish = true;
            else
                zPublish = false;

            var obj = {
                CategoryKey: $("#txt_CategoryKey").val(),
                CategoryName: $("#txt_CategoryName").val(),
                Description: $("#txt_Description").val(),
                Parent: $("#cbo_Category").val(),
                Publish: zPublish,
            };
            var fileUpload = $("#Image").get(0);
            var files = fileUpload.files;

            // Create  a FormData object
            var fileData = new FormData();

            // if there are multiple files , loop through each files
            for (var i = 0; i < files.length; i++) {
                fileData.append(files[i].name, files[i]);
            }
            fileData.append("CategoryObj", JSON.stringify(obj));
            fileData.append("CategoryKey", $("#txt_CategoryKey").val());
            $.ajax({
                url: URL_Save,
                processData: false,
                contentType: false,
                type: "POST",
                data: fileData,
                beforeSend: function () {
                    Utils.LoadIn();
                },
                success: function (r) {
                    if (r.success) {
                        location.reload();
                    }
                    else {
                        Utils.OpenNotify(r.message, "Thông báo", "error");
                    }
                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, "Thông báo", "error");
                },
                complete: function () {
                    Utils.LoadOut();
                }
            });
        }
        function Edit(CategoryKey) {
            Utils.OpenMagnific("#modalEdit");
            if (CategoryKey > 0) {
                $.ajax({
                    url: URL_Edit,
                    type: "GET",
                    data: {
                        "CategoryKey": CategoryKey
                    },
                    beforeSend: function () {
                        Utils.LoadIn();
                    },
                    success: function (r) {
                        if (r.success) {
                            var obj = JSON.parse(r.data);
                            $("#txt_Rank").val(obj.Rank);
                            $("#txt_CategoryKey").val(obj.CategoryKey);
                            $("#txt_CategoryName").val(obj.CategoryName);
                            $("#txt_Description").val(obj.Description);
                            $("#cbo_Category").val(obj.Parent).trigger("change");
                            var zPublish = 0;
                            if (obj.Publish == true)
                                zPublish = 1;
                            else
                                zPublish = 0;
                            $("#cbo_Publish").val(zPublish);
                        }
                        else {
                            Utils.OpenNotify(r.message, "Thông báo", "error");
                        }
                    },
                    error: function (err) {
                        Utils.OpenNotify(err.responseText, "Thông báo", "error");
                    },
                    complete: function () {
                        Utils.LoadOut();
                    }
                });
            }
            else {
                Utils.ClearUI("#modalEdit");
                $("#txt_Rank").val(0);
                $("#txt_CategoryKey").val(0);
                $("#cbo_Publish").val(1);
                $("#cbo_Activate").val(1);
            }
        }
        function Delete(CategoryKey) {
            $.confirm({
                type: "red",
                typeAnimated: true,
                title: "Cảnh báo, ảnh hưởng giao diện website !.",
                content: "Vui lòng liên hệ quản trị khi xóa thông tin này ?.",
                buttons: {
                    confirm: {
                        text: "Đồng ý",
                        btnClass: "btn-red",
                        action: function () {
                            $.ajax({
                                url: URL_Delete,
                                type: "POST",
                                data: {
                                    "CategoryKey": CategoryKey
                                },
                                beforeSend: function () {

                                },
                                success: function (r) {
                                    if (r.success) {
                                        location.reload();
                                    }
                                    else {
                                        Utils.OpenNotify(r.message, "Thông báo", "error");
                                    }
                                },
                                error: function (err) {
                                    Utils.OpenNotify(err.responseText, "Thông báo", "error");
                                },
                                complete: function () {

                                }
                            });
                        }
                    },
                    cancel: {
                        text: "Hủy",
                    }
                }
            });
        }
        function Activate(CategoryKey) {
            $.ajax({
                url: URL_Publish,
                type: "POST",
                data: {
                    "CategoryKey": CategoryKey,
                },
                beforeSend: function () {

                },
                success: function (r) {
                    if (r.success) {
                        Utils.OpenNotify("Cập nhật tình trạng thành công", "Thông báo", "success");
                    }
                    else {
                        Utils.OpenNotify(r.message, "Thông báo", "error");
                    }
                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, "Thông báo", "error");
                },
                complete: function () {

                }
            });
        }
    </script>
}