﻿@{
    Layout = "~/Views/Admin/_Layout.cshtml";

    var _ListMenu = new List<Menu_WebSite_Model>();
    if (ViewBag.ListMenu != null)
    {
        _ListMenu = ViewBag.ListMenu as List<Menu_WebSite_Model>;
    }

    var _ListCategory = new List<Article_Category_Model>();
    if (ViewBag.ListCategory != null)
    {
        _ListCategory = ViewBag.ListCategory as List<Article_Category_Model>;
    }

    var _ListArticle = new List<Article_Model>();
    if (ViewBag.ListArticle != null)
    {
        _ListArticle = ViewBag.ListArticle as List<Article_Model>;
    }
}

<header class="page-header">
    <h2>Menu website</h2>
    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="#">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li></li>
        </ol>
    </div>
</header>

<div class="row">
    <div class="col-md-12">
        <div class="card border">
            <div class="card-header">
                <h2 class="card-title">
                    Cài đặt các đường dẫn menu vào nội dung
                    <button class="float-right btn btn-info" type="button" onclick="Edit(0)">
                        <i class="fa fa-plus"></i>
                        Thêm
                    </button>
                </h2>
            </div>

            <div class="card-body">
                @if (TempData["Error"] != null &&
              TempData["Error"].ToString() != string.Empty)
                {
                    <div class="alert alert-danger">
                        <strong>@TempData["Error"]</strong>.
                    </div>
                }
                @if (_ListMenu.Count > 0)
                {
                    <table class="table table-sm data">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Menu</th>
                                <th>Liên kết</th>
                                <th>Ẩn/ hiện</th>
                                <th>Thứ tự</th>
                                <th class="text-right">

                                </th>
                            </tr>
                        </thead>
                        <tbody id="tblBody">
                            @for (int i = 0; i < _ListMenu.Count; i++)
                            {
                                #region [-Data-]
                                var zModel = _ListMenu[i];

                                string Key = zModel.MenuKey.ToString();
                                string No = (i + 1).ToString();
                                string Name = zModel.MenuName;
                                bool Publish = zModel.Publish;
                                int Rank = zModel.Rank;
                                string TypeName = zModel.TypeName;
                                string ContentTitle = zModel.ContentTitle;
                                string Link = TypeName + " > " + ContentTitle;
                                #endregion

                                <tr id="@Key">
                                    <td>@No</td>
                                    <td>@Name</td>
                                    <td>@Link</td>
                                    <td>
                                        @if (zModel.Publish)
                                        {
                                            <div class="switch switch-sm switch-success">
                                                <input type="checkbox" name="switch" data-plugin-ios-switch checked="checked" onchange="Activate(@Key)" />
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="switch switch-sm switch-success">
                                                <input type="checkbox" name="switch" data-plugin-ios-switch onchange="Activate(@Key)" />
                                            </div>
                                        }
                                    </td>
                                    <td>@Rank</td>
                                    <td class="text-right">
                                        <button type="button" class="btn btn-outline-primary btn-sm modal-with-zoom-anim" onclick="Edit(@Key)">
                                            <i class="far fa-edit"></i>
                                        </button>
                                        <button type="button" class="btn btn-outline-danger btn-sm" onclick="Delete(@Key)">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <div class="alert alert-primary">
                        <strong>Bạn chưa cập nhật, hoặc không tìm thấy dữ liệu phù hợp !</strong>.
                    </div>
                }
            </div>
            <div class="card-footer">
            </div>
        </div>
    </div>
</div>
<form id="modalEdit" class="zoom-anim-dialog modal-block modal-header-color modal-block-info mfp-hide"
      action="@Url.Action("Save_Menu","Admin")"
      method="post" enctype="multipart/form-data">
    <div class="card border border-primary">
        <div class="card-header">
            <h2 class="card-title">Thông tin Menu </h2>
        </div>
        <div class="card-body border-primary">
            <div class="form-group row">
                <label for="cbo_Category" class="col-lg-5 col-xl-3 control-label text-lg-right">Menu cha</label>
                <div class="col-lg-7 col-xl-9">
                    <select id="cbo_Parent" class="form-control select2" name="Parent">
                        <option value="0">--Không có--</option>
                        @{
                            var ParentList = _ListMenu.Where(s => s.Parent == 0);
                            foreach (var zItem in ParentList)
                            {
                                <option value="@zItem.MenuKey">@zItem.MenuName</option>
                            }
                        }
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="txt_Name" class="col-lg-5 col-xl-3 control-label text-lg-right">Menu</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control" id="txt_Name" value="" placeholder="" required="" name="MenuName">
                </div>
            </div>

            <div class="form-group row">
                <label for="txt_Rank" class="col-lg-5 col-xl-3 control-label text-lg-right">Thứ tự hiển thị</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="number" class="form-control" id="txt_Rank" value="" placeholder="" name="Rank">
                </div>
            </div>

            <div class="form-group row">
                <label for="cbo_Category" class="col-lg-5 col-xl-3 control-label text-lg-right">Liên kết nội dung</label>
                <div class="col-lg-7 col-xl-9">
                    <select id="cbo_Type" class="form-control select2" name="Type">
                        <option value="0">--Chọn--</option>
                        <option value="1">Bài viết chi tiết</option>
                        <option value="2">Danh mục</option>
                    </select>
                </div>
            </div>

            <div class="form-group row" id="divBlog" style="display:none">
                <label for="cbo_Category" class="col-lg-5 col-xl-3 control-label text-lg-right">Nội dung chi tiết</label>
                <div class="col-lg-7 col-xl-9">
                    <select id="cbo_Article" class="form-control select2" name="ParamaterArticle">
                        <option value="0">--Chọn--</option>
                        @{
                            foreach (var rec in _ListArticle)
                            {
                                <option value="@rec.ArticleKey">@rec.ArticleName</option>
                            }
                        }
                    </select>
                </div>
            </div>

            <div class="form-group row" id="divList" style="display:none">
                <label for="cbo_Category" class="col-lg-5 col-xl-3 control-label text-lg-right">Danh mục tin tức</label>
                <div class="col-lg-7 col-xl-9">
                    <select id="cbo_Category" class="form-control select2" name="ParamaterCategory">
                        @{
                            <option value="0">--Chọn--</option>
                            foreach (var rec in _ListCategory)
                            {
                                <option value="@rec.CategoryKey">@rec.CategoryName</option>
                            }
                        }
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="cbo_Publish" class="col-lg-5 col-xl-3 control-label text-lg-right">Ẩn/ hiện</label>
                <div class="col-lg-7 col-xl-9">
                    <select id="cbo_Publish" class="form-control" name="Publish">
                        <option value="true" selected>Hiển thị</option>
                        <option value="false">Ẩn</option>
                    </select>
                </div>
            </div>

            <div class="card-footer border-primary text-center">
                <button id="btn_Cancel" type="button" class="btn btn-outline-secondary modal-dismiss">
                    <i class="far fa-times-circle"></i>
                    Đóng
                </button>
                <button id="btn_Save" type="submit" class="btn btn-outline-primary modal-confirm">
                    <i class="far fa-save"></i>
                    Cập nhật
                </button>
            </div>
        </div>
        <input id="txt_CategoryName" type="hidden" name="CategoryName" value="0" />
        <input id="txt_ArticleName" type="hidden" name="ArticleName" value="0" />
        <input id="txt_MenuKey" type="hidden" name="MenuKey" value="0" />
    </div>
</form>
@section scripts{
    <script>
        var URL_Edit = "@Url.Action("Get_Menu", "Admin")";
        var URL_Delete = "@Url.Action("Delete_Menu", "Admin")";
        var URL_Save = "@Url.Action("Save_Menu", "Admin")";
        var URL_Active = "@Url.Action("Activate_Menu", "Admin")";
    </script>
    <script>
        $(document).ready(function () {
            $("#cbo_Type").change(function () {
                var val = $(this).val();
                if (val === "1") {
                    $("#divBlog").show();
                    $("#divList").hide();
                }
                if (val === "2") {
                    $("#divList").show();
                    $("#divBlog").hide();
                }
            });

            $("#cbo_Article").change(function () {
                var txt = $(this).find("option:selected").text();
                $("#txt_ArticleName").val(txt);
            });
            $("#cbo_Category").change(function () {
                var txt = $(this).find("option:selected").text();
                $("#txt_CategoryName").val(txt);
            });
        });

        function Edit(MenuKey) {
            Utils.OpenMagnific("#modalEdit");
            if (MenuKey > 0) {
                $.ajax({
                    url: URL_Edit,
                    type: "GET",
                    data: {
                        "MenuKey": MenuKey
                    },
                    beforeSend: function () {
                        Utils.LoadIn();
                    },
                    success: function (r) {
                        if (r.success) {
                            var obj = JSON.parse(r.data);
                            $("#txt_MenuKey").val(obj.MenuKey);
                            $("#txt_CategoryName").val(obj.CategoryName);
                            $("#txt_ArticleName").val(obj.ArticleName);

                            $("#txt_Name").val(obj.MenuName);
                            $("#cbo_Parent").val(obj.Parent).trigger("change");
                            $("#cbo_Type").val(obj.TypeKey).trigger("change");
                            $("#cbo_Article").val(obj.Paramater).trigger("change");
                            $("#cbo_Category").val(obj.Paramater).trigger("change");

                            $("#txt_Rank").val(obj.Rank);
                            var zPublish = 0;
                            if (obj.Publish == true)
                                zPublish = 1;
                            else
                                zPublish = 0;
                            $("#cbo_Publish").val(zPublish).trigger("change");
                        }
                        else {
                            Utils.OpenNotify(r.message, "Thông báo", "error");
                        }
                    },
                    error: function (err) {
                        Utils.OpenNotify(err.responseText, "Thông báo", "error");
                    },
                    complete: function () {
                        Utils.LoadOut();
                    }
                });
            }
            else {
                Utils.ClearUI("#modalEdit");
                $("#cbo_Rank").val(0);
                $("#txt_MenuKey").val(0);
                $("#cbo_Publish").val(1);
            }
        }
        function Delete(MenuKey) {
            $.confirm({
                type: "red",
                typeAnimated: true,
                Name: "Cảnh báo !.",
                content: "Bạn có chắc xóa thông tin này ?.",
                buttons: {
                    confirm: {
                        text: "Đồng ý",
                        btnClass: "btn-red",
                        action: function () {
                            $.ajax({
                                url: URL_Delete,
                                type: "POST",
                                data: {
                                    "MenuKey": MenuKey
                                },
                                beforeSend: function () {

                                },
                                success: function (r) {
                                    if (r.success) {
                                        var elem = $("#" + MenuKey);
                                        Utils.RemoveRow(elem);
                                    }
                                    else {
                                        Utils.OpenNotify(r.message, "Thông báo", "error");
                                    }
                                },
                                error: function (err) {
                                    Utils.OpenNotify(err.responseText, "Thông báo", "error");
                                },
                                complete: function () {

                                }
                            });
                        }
                    },
                    cancel: {
                        text: "Hủy",
                    }
                }
            });
        }
        function Activate(MenuKey) {
            $.ajax({
                url: URL_Active,
                type: "POST",
                data: {
                    "MenuKey": MenuKey,
                },
                beforeSend: function () {

                },
                success: function (r) {
                    if (r.success) {
                        Utils.OpenNotify("Cập nhật tình trạng thành công", "Thông báo", "success");
                    }
                    else {
                        Utils.OpenNotify(r.message, "Thông báo", "error");
                    }
                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, "Thông báo", "error");
                },
                complete: function () {

                }
            });
        }
    </script>
}