﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <title>TN SOLUTION</title>
    <link rel="stylesheet" href="@Url.Content("~/themes/frontend/css/vendor/vendor.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/themes/frontend/css/plugins/plugins.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/themes/frontend/css/style.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/themes/frontend/css/custom.css")" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
          integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/brands.min.css"
          integrity="sha512-D0B6cFS+efdzUE/4wh5XF5599DtW7Q1bZOjAYGBfC0Lg9WjcrqPXZto020btDyrlDUrfYKsmzFvgf/9AB8J0Jw==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/fontawesome.min.css"
          integrity="sha512-kJ30H6g4NGhWopgdseRb8wTsyllFUYIx3hiUwmGAkgA9B/JbzUBDQVr2VVlWGde6sdBVOG7oU8AL35ORDuMm8g==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/regular.min.css"
          integrity="sha512-rVrbAp27ffQyFnzJ/aC5fZv9JgvL6cdB4zsL5HmM+DhJdzThc/F//62SJF+CaGiOZTP35e1p8JGcc+zRRVuhRw==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/solid.min.css"
          integrity="sha512-SazV6tF6Ko4GxhyIZpKoXiKYndqzh7+cqxl9HDH7DGSpjkCN3QLqTAlhJHJnKxu3/2rfCsltzwFC4CmxZE1hPg==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/svg-with-js.min.css"
          integrity="sha512-CfIjRw0J4f63YNZarIPUt9psHYYSppYFt3Ru9f0xKvhqf4piVbE8YjrM14c2uL+K2e+RAinJM6dNtLa5CnuAng==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/v4-shims.min.css"
          integrity="sha512-KNosrY5jkv7dI1q54vqk0N3x1xEmEn4sjzpU1lWL6bv5VVddcYKQVhHV08468FK6eBBSXTwGlMMZLPTXSpHYHA==" crossorigin="anonymous" />
</head>
<body>
    <header class="main-header-area header-transparent header-sticky">
        <!-- Main menu -->
        @await Component.InvokeAsync("MainMenu")
        <!-- Main menu -->
        <!-- Mobile menu -->
        @await Component.InvokeAsync("MobileMenu")
        <!-- Mobile menu -->
    </header>
    @RenderBody()
    <footer class="footer-section pt-90">
        @await Component.InvokeAsync("Footer", "Footer")

        <div class="footer-copyright-area pt-5 border-top mt-90 mb-5">
            <div class="container custom-area">
                <div class="row">
                    <div class="col-12 text-center col-custom">
                        <div class="copyright-content">
                            <p class="mb-0">Copyright © 2021 <a asp-controller="Home" asp-action="Index">TN SOLUTION</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <a href="#" class="scroll-top" id="scroll-top">
        <i class="arrow-top fa fa-angle-double-up"></i>
        <i class="arrow-bottom fa fa-angle-double-up"></i>
    </a>
    <script src="@Url.Content("~/themes/frontend/js/vendor/vendor.min.js")"></script>
    <script src="@Url.Content("~/themes/frontend/js/plugins/plugins.min.js")"></script>
    <script src="@Url.Content("~/themes/frontend/js/main.js")"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        var url = "@Url.Action("SendMail", "Home")";
        $("#btnEmail").click(function () {
            $.ajax({
                url: url,
                type: 'POST',
                data: {
                    "Email": $("#txt_email").val(),
                    "Name": "",
                    "Title": "",
                    "Content": "",
                },
                beforeSend: function () {
                    $(".form-messege").empty();
                    $(".form-messege").text("Đang gửi mail");
                },
                success: function (r) {
                    $(".form-messege").append(r.message);
                    alert(r.message);
                },
                error: function (err) {
                    $(".form-messege").append(err.responseText);
                },
                complete: function () {

                }
            });
        });
    </script>
</body>
</html>