﻿@model List<Banner_Model>
<div class="intro11-slider-wrap section">
    <div class="intro11-slider swiper-container">
        <div class="swiper-wrapper">
            @{
                foreach (var Item in Model)
                {
                    <div class="single-slide-wrapper swiper-slide slide-1 slide-bg-1 bg-position"
                         style="background-image: url('@Url.Content(Item.Url)');background-position: center top;">
                        <!-- Intro Content Start -->
                        <div class="slider-content text-center">
                            <h2 class="title" data-splitting>@Item.Title</h2>
                            <h4 class="sub-title">@Item.Description</h4>
                        </div>
                        <!-- Intro Content End -->
                    </div>
                }
            }
        </div>
        <!-- Slider Navigation -->
        <div class="home1-slider-prev swiper-button-prev main-slider-nav"><i class="fa fa-long-arrow-left"></i></div>
        <div class="home1-slider-next swiper-button-next main-slider-nav"><i class="fa fa-long-arrow-right"></i></div>
        <!-- Slider pagination -->
        <div class="swiper-pagination"></div>
    </div>
</div>