﻿@model List<Config_Model>

<div class="footer-widget-area">
    <div class="container container-default custom-area">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-custom" id="info-footer">
                <div class="single-footer-widget m-0" data-aos="fade-up" data-aos-delay="300" data-aos-anchor-placement="bottom bottom">
                    <div class="footer-logo pb-3">
                        <a href="@Url.Action("Index")">
                            <img src="@Url.Content(ViewBag.Logo)" alt="Logo Image" style="width: 25%; border-radius: 50px; padding: 1px; background: white; ">
                        </a>
                    </div>
                    <p class="desc-content pt-3 pb-3" style="white-space: pre-line;">
                        @ViewBag.Contact
                    </p>
                    <!-- Soclial Link Start -->
                    <div class="widget-social pt-4">
                        <a title="Facebook" href="https://www.facebook.com/pages/C%C3%B4ng-Ty-C%E1%BB%95-Ph%E1%BA%A7n-TN-Solution/105148590892457">
                            <i class="fa fa-facebook-f"></i>
                        </a>
                        <a title="Youtube" href="https://www.youtube.com/channel/UCpVWegXS9G4KAyeOxA7jUgw"><i class="fa fa-youtube"></i></a>
                    </div>
                    <!-- Social Link End -->
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-custom">
                <div class="single-footer-widget" data-aos="fade-up" data-aos-delay="400" data-aos-anchor-placement="bottom bottom">
                    <h2 class="widget-title">Dịch vụ của chúng tôi</h2>
                    <ul class="widget-list pt-3">

                        @{
                            foreach (var rec in Model)
                            {
                                string Link = "/bai-viet/" + rec.Value;
                                string Name = rec.Name;

                                <li><a href="@Link">@Name</a></li>
                            }
                        }
                    </ul>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-2 col-custom">
                <div class="single-footer-widget" data-aos="fade-up" data-aos-delay="500" data-aos-anchor-placement="bottom bottom">
                    <h2 class="widget-title">Kênh bán hàng</h2>
                    <ul class="widget-list pt-3">
                        <li><a target="_blank" href="http://esyshop.net">EsyShop</a></li>
                        <li><a target="_blank" href="https://shopee.vn/tnsolution">Shopee</a></li>
                        <li><a target="_blank" href="https://tiki.vn/cua-hang/tn-solution">Tiki</a></li>
                        <li><a target="_blank" href="https://www.lazada.vn/shop/tn-solution-1615533134">Lazada</a></li>
                        <li><a target="_blank" href="https://www.sendo.vn/shop/tn-solution">Sendo</a></li>
                        <li><a target="_blank" href="https://www.facebook.com/pages/C%C3%B4ng-Ty-C%E1%BB%95-Ph%E1%BA%A7n-TN-Solution/105148590892457">Facebook</a></li>
                        <li><a target="_blank" href="https://www.youtube.com/channel/UCpVWegXS9G4KAyeOxA7jUgw">Youtube</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-5 col-lg-3 col-custom">
                <div class="single-footer-widget" data-aos="fade-up" data-aos-delay="600" data-aos-anchor-placement="bottom bottom">
                    <h2 class="widget-title">Nhận thông tin</h2>
                    <div class="widget-body pt-3">
                        <p class="desc-content pb-3">Vui lòng để lại email để chúng tôi có thể tư vấn cho bạn tốt hơn.</p>
                        <div class="newsletter-form-wrap pt-4">
                            <form id="mc-form" class="mc-form d-flex position-relative">
                                <input type="email" id="txt_email" class="form-control email-box rounded-0" placeholder="email@example.com" name="EMAIL">
                                <button class="btn newsletter-btn position-absolute bounce3 animated3 " type="button" id="btnEmail">
                                    <i class="fa fa-envelope"></i>
                                </button>
                            </form>
                            <!-- mailchimp-alerts Start -->
                            <div class="mailchimp-alerts text-centre">
                                <div class="mailchimp-submitting text-empty"></div>
                                <!-- mailchimp-submitting end -->
                                <div class="mailchimp-success text-success"></div>
                                <!-- mailchimp-success end -->
                                <div class="mailchimp-error text-danger"></div>
                                <!-- mailchimp-error end -->
                            </div>
                            <!-- mailchimp-alerts end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
