﻿@{ 
    var Blog = ViewBag.Blog as Article_Model;
    string Summarize = "";
    string LinkBlog = "#";
    if (Blog.ArticleKey.Length >= 36)
    {
        Summarize = Blog.Summarize;
        LinkBlog = "/bai-viet/" + Blog.ArticleID;   //Url.Action("BaiViet", new { ArticleKey = GioiThieuCty.ArticleKey });
    }

    var Youtube = ViewBag.Youtube as Article_Model;
    string LinkYoutube = "#";
    if (Blog.ArticleKey.Length >= 36)
    {
        LinkYoutube = Youtube.Summarize;
    }
}
<div class="about-section pb-50" style="padding-top: 50px; margin-top: 20px">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-xl-5 order-1" data-aos="fade-up" data-aos-delay="100">
                <div class="restaurant-about-content section-title">
                    <h2 class="title mb-5">@ViewBag.Title</h2>
                    <p class="desc-content mb-7">@Summarize</p>
                    <a href="@LinkBlog" class="btn btn-hover-primary">Xem thêm</a>
                </div>
            </div>
            <div class="col-lg-6 col-xl-7 order-0 order-lg-1 mb-5" data-aos="fade-up" data-aos-delay="300">
                <iframe width="100%" height="315" src="@LinkYoutube"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>