﻿@model List<Article_Model>
<div class="sidebar-wrap">
    <div class="sidebar aos-init aos-animate" data-aos="fade-up" data-aos-delay="400">
        <h4 class="sidebar-title">Các nội dung tương tự</h4>
        <ul class="sidebar-blog">
            @{
                foreach (var rec in Model)
                {
                    string Link = "/bai-viet/" + rec.ArticleID;
                    string Photo = Url.Content(rec.ImageLarge);
                    string Title = rec.ArticleName;
                    string Date = rec.CreatedOn.ToString("dd/MM/yyyy");

                    <li>
                        <a href="@Link" class="image">
                            <img src="@Photo" alt="Blog Post">
                        </a>
                        <div class="content">
                            <a class="title" href="@Link">@Title</a>
                            <span class="date">@Date</span>
                        </div>
                    </li>
                }
            }
        </ul>
    </div>
</div>