﻿@model List<Menu_WebSite_Model>
@{
    var ListParent = Model.Where(s => s.Parent == 0).ToList();
}
<div class="main-header">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-2 col-xl-2 col-md-6 col-6">
                <div class="header-logo d-flex align-items-center">
                    <a href="@Url.Action("Index", "Home")">
                        <img class="nonsticky-logo img-full" src="@Url.Content(ViewBag.Logo)" alt="Header Logo" width="92"
                             style="border-radius: 50px; padding: 1px; background: white; width:90px">
                        <img class="sticky-logo img-full" src="@Url.Content(ViewBag.Logo)" alt="Header Logo" width="92"
                             style=" border-radius: 50px; padding: 1px; background: white; width: 90px">
                    </a>
                </div>
            </div>
            <div class="col-lg-10 col-md-6 col-6 d-flex justify-content-end">
                <nav class="main-nav d-none d-lg-flex">
                    <ul class="nav">
                        <li>
                            <a asp-controller="Home" asp-action="Index">
                                <span class="menu-text">Trang chủ</span>
                            </a>
                        </li>
                        @{
                            foreach (var parent in ListParent)
                            {
                                #region [----]
                                string parentlink = "#";
                                string parentName = parent.MenuName;
                                string parentParamater = parent.Paramater;
                                string parentAction = parent.Action;
                                int parentType = parent.TypeKey;
                                #endregion

                                var ListChild = Model.Where(s => s.Parent == parent.MenuKey).ToList();
                                if (ListChild.Count > 0)
                                {
                                    <li>
                                        <a href="#">
                                            <span class="menu-text">
                                                @parentName
                                            </span>
                                            <i class="fa fa-angle-down"></i>
                                        </a>
                                        <ul class="dropdown-submenu dropdown-hover">
                                            @{
                                                foreach (var child in ListChild)
                                                {
                                                    #region [----]
                                                    string childName = child.MenuName;
                                                    string childAction = child.Action;
                                                    string childParamater = child.Paramater;
                                                    int childType = child.TypeKey;
                                                    string childLink = "#";
                                                    #endregion

                                                    if (childType == 1)
                                                    {
                                                        childLink = "/bai-viet/" + childParamater;
                                                    }
                                                    else
                                                    {
                                                        childLink = "/tin-tuc/" + childParamater;
                                                    }

                                                    <li>
                                                        <a href="@childLink">@childName</a>
                                                    </li>
                                                }
                                            }
                                        </ul>
                                    </li>
                                }
                                else
                                {
                                    if (parentType == 1)
                                    {
                                        parentlink = "/bai-viet/" + parentParamater;
                                    }
                                    else
                                    {
                                        parentlink = "/tin-tuc/" + parentParamater;
                                    }

                                    <li>
                                        <a href="@parentlink">
                                            <span class="menu-text">
                                                @parentName
                                            </span>
                                        </a>
                                    </li>
                                }
                            }
                        }
                        <li>
                            <a asp-controller="Home" asp-action="Contact">
                                <span class="menu-text">Liên hệ</span>
                            </a>
                        </li>
                        <li>
                            <a href="http://esyshop.net/" target="_blank">
                                <span class="menu-text">EsyShop</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="header-right-area main-nav">
                    <ul class="nav">
                        <li class="mobile-menu-btn d-block d-lg-none">
                            <a class="off-canvas-btn" href="#">
                                <i class="fa fa-bars"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>