﻿@model List<Menu_WebSite_Model>
@{
    var ListParent = Model.Where(s => s.Parent == 0).ToList();
}
<aside class="off-canvas-wrapper" id="mobileMenu">
    <div class="off-canvas-overlay"></div>
    <div class="off-canvas-inner-content">
        <div class="btn-close-off-canvas">
            <i class="fa fa-times"></i>
        </div>
        <div class="off-canvas-inner">
            <div class="offcanvas-widget-area">

                <div class="mobile-navigation">

                    <nav>
                        <ul class="mobile-menu">
                            <li>
                                <a asp-controller="Home" asp-action="Index">
                                    <span class="menu-text">Trang chủ</span>
                                </a>
                            </li>
                            @{
                                foreach (var parent in ListParent)
                                {
                                    #region [----]
                                    string parentlink = "#";
                                    string parentName = parent.MenuName;
                                    string parentParamater = parent.Paramater;
                                    string parentAction = parent.Action;
                                    int parentType = parent.TypeKey;
                                    #endregion

                                    var ListChild = Model.Where(s => s.Parent == parent.MenuKey).ToList();
                                    if (ListChild.Count > 0)
                                    {
                                        <li class="menu-item-has-children">
                                            <a href="#">@parentName</a>
                                            <ul class="dropdown">
                                                @{
                                                    foreach (var child in ListChild)
                                                    {
                                                        #region [----]
                                                        string childName = child.MenuName;
                                                        string childAction = child.Action;
                                                        string childParamater = child.Paramater;
                                                        int childType = child.TypeKey;
                                                        string childLink = "#";
                                                        #endregion

                                                        if (childType == 1)
                                                        {
                                                            childLink = "/bai-viet/" + childParamater;
                                                        }
                                                        else
                                                        {
                                                            childLink = "/tin-tuc/" + childParamater;
                                                        }

                                                        <li><a href="@childLink">@childName</a></li>
                                                    }
                                                }


                                            </ul>
                                        </li>
                                    }
                                    else
                                    {
                                        if (parentType == 1)
                                        {
                                            parentlink = "/bai-viet/" + parentParamater;
                                        }
                                        else
                                        {
                                            parentlink = "/tin-tuc/" + parentParamater;
                                        }

                                        <li><a href="@parentlink">@parentName</a></li>
                                    }
                                }
                            }
                            <li>
                                <a asp-controller="Home" asp-action="Contact">
                                    <span class="menu-text">Liên hệ</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://esyshop.net" target="_blank">
                                    <span class="menu-text">Shop điện tử</span>
                                </a>
                            </li>
                        </ul>
                    </nav>

                </div>

                <div class="widget-social">
                    <a title="Facebook" href="https://www.facebook.com/pages/C%C3%B4ng-Ty-C%E1%BB%95-Ph%E1%BA%A7n-TN-Solution/105148590892457">
                        <i class="fa fa-facebook-f"></i>
                    </a>
                    <a title="Youtube" href="https://www.youtube.com/channel/UCpVWegXS9G4KAyeOxA7jUgw">
                        <i class="fa fa-youtube"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</aside>