﻿@model List<Config_Model>
<div class="funfact-section d-flex flex-column justify-content-center">
    <div class="container-fluid p-0">
        <div class="row no-gutters counters align-items-center">
            @{
                foreach (var rec in Model)
                {
                    var Number = rec.Value;
                    var Title = rec.Name;

                    <div class="col-lg-3 col-6">
                        <div class="single-fun-fact-wrap" data-aos="fade-up" data-aos-delay="100">
                            <div class="counter-area">
                                <strong class="counter">@Number</strong>
                            </div>
                            <div class="counter-content">
                                <h3 class="title">@Title</h3>

                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>