﻿@model List<Article_Model>

<div class="breadcrumbs-area position-relative mb-text-p"
     style="
    background: url('/themes/frontend/images/Banner2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px -145px;
    padding-bottom:50px;">
    <div class="container" style="padding-top:30px">
        <div class="row">
            <div class="col-12 text-center">
                <div class="breadcrumb-content position-relative section-content">
                    <h3 class="title" style="color:white; text-shadow: rgb(0 0 0) 2px 2px">
                        @ViewBag.CategoryName
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="blog-section pt-90">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-12">
                <div class="row mb-n10">
                    @{
                        if (Model.Count > 0)
                        {
                            for (int i = 0; i < Model.Count; i++)
                            {
                                #region [--FetchData--]
                                var zItem = Model[i];
                                string zDate = zItem.CreatedOn.ToString("dd/MM/yyyy");
                                string zAuthor = zItem.ModifiedName;
                                string zTitle = zItem.ArticleName;
                                string zSumamarize = zItem.Summarize;
                                string zID = zItem.ArticleID;

                                string zImg = zItem.ImageLarge;
                                if (zImg == string.Empty)
                                {
                                    zImg = "~/themes/frontend/images/noimage.svg";
                                }

                                string zLink = "/bai-viet/" + zID;
                                #endregion

                                <div class="col-sm-4 mb-4">
                                    <!-- Single Blog Post Start -->
                                    <div class="single-blog-post-wrap" data-aos="fade-up" data-aos-delay="200">
                                        <div class="blog-thumbnail">
                                            <a href="@zLink" style="height:300px; background-image: url('@Url.Content(zImg)'); background-size: contain; background-repeat: no-repeat; background-position: center;">
                                                <img class="btn-plus" src="@Url.Content("~/themes/frontend/images/icon/plus.svg")" alt="Plus Icons">
                                            </a>
                                        </div>
                                        <div class="blog-post-details pt-5">
                                            <h3 class="title">
                                                <a href="@zLink">
                                                    @zItem.ArticleName
                                                </a>
                                            </h3>
                                            <div class="post-meta mb-3 mt-3">
                                                <a href="@zLink">
                                                    <i class="fa fa-user"></i>
                                                    @zAuthor
                                                </a>
                                                <span>
                                                    <i class="fa fa-clock-o"></i>
                                                    @zDate
                                                </span>
                                            </div>
                                            <p class="desc-content desc-content1 mb-2 mb-md-5">@zItem.Summarize</p>
                                            <a href="@zLink" class="btn btn-hover-primary read-more">Xem thêm</a>
                                        </div>
                                    </div>
                                    <!-- Single Blog Post End -->
                                </div>
                            }
                        }
                        else
                        {
                            <h3>ĐANG CẬP NHẬT</h3>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>