﻿@using Microsoft.AspNetCore.Html
@model Article_Model
    <style>
        .fit-image {
            max-width: 350px !important;
        }
    </style>
    <div class="breadcrumbs-area position-relative mb-text-p">
        <div class="container" style="padding-top:30px">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="breadcrumb-content position-relative section-content">
                        <h3 class="title" style="color:white; text-shadow: rgb(0 0 0) 2px 2px">
                            @ViewBag.CategoryName
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-section pt-90">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-12 order-lg-1">
                    <!-- Portfolio Details Content Start -->
                    <div class="portfolio-details-content" data-aos="fade-up" data-aos-delay="300">
                        <div class="portfolio-details-desc mb-8">
                            <h2 class="title text-center">@Model.ArticleName</h2>
                        </div>
                        <div class="mb-3">
                            @Model.Summarize
                        </div>
                        @if (Model.ImageLarge.Length > 0)
                        {
                            <div class="text-center mb-3">
                                <img src="@Url.Content(Model.ImageLarge)" class="fit-image" />
                            </div>
                        }
                        <div class="portfolio-details-info">
                            <ul>
                                <li id="divBlog">
                                    @(new HtmlString(Model.ArticleContent))
                                </li>

                                <li class="">
                                    <div class="meta-list mb-3">
                                        <a href="#" class="meta-item author">@Model.CreatedName</a>

                                        @if (Model.FileAttack.Length > 0)
                                        {
                                            <a href="@Model.FileAttack" download="" class="float-right" style="font-style: oblique;">
                                                Tập tin đính kèm
                                                <i class="fas fa-paperclip bounce3 animated3 "></i>
                                            </a>
                                        }

                                        <span class="meta-item date">@Model.ModifiedOn.ToString("dd/MM/yyyy")</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Portfolio Details Content End -->
                </div>
                <div class="col-lg-4 col-12 order-lg-2" id="sticky-sidebar">
                    @await Component.InvokeAsync("LeftArticle", Model.CategoryKey)
                </div>
            </div>
        </div>
    </div>
    @section Scripts{
        <script>
            $(document).ready(function () {
                $("#divBlog table").each(function () {
                    $(this).addClass("table");
                });
                $("#divBlog ul").each(function () {
                    $(this).css("margin-left", "30px");
                });
            });
        </script>
    }