﻿@{
    ViewBag.Title = "lien-he";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumbs-area position-relative mb-text-p"
     style=" background: url('/themes/frontend/images/banner-find-us.jpg'); background-size: cover; background-repeat: no-repeat; padding-bottom: 50px;">
    <div class="container" style="padding-top:30px">
        <div class="row">
            <div class="col-12 text-center">
                <div class="breadcrumb-content position-relative section-content">
                    <h3 class="title" style="color:white; text-shadow: rgb(0 0 0) 2px 2px">Liên hệ</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Area End Here -->
<!-- Contact Information And Title Area Start -->
<div class="contact-info mt-5 pt-90 pb-90">
    <div class="container">
        <div class="row mb-n10">
            <div class="col-md-4 mb-10" data-aos="fade-up" data-aos-delay="100">
                <div class="info">
                    <div class="info-icon">
                        <i class="fa fa-map-marker"></i>
                    </div>
                    <div class="info-content">
                        <h4 class="title">Địa chỉ</h4>
                        <span class="info-text"> Số 96/14 Tân Mỹ, KP.4,<br> P.Tân Thuận Tây, Q.7, TP.HCM, VIỆT NAM</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-10" data-aos="fade-up" data-aos-delay="300">
                <div class="info">
                    <div class="info-icon">
                        <i class="fa fa-phone"></i>
                    </div>
                    <div class="info-content">
                        <h4 class="title">Điện thoại</h4>
                        <span class="info-text">
                            <a href="tel:0902106212 "> 0902 106 212 </a><br />
                            <a href="tel:02862706069">(028) 6270 6069</a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-10" data-aos="fade-up" data-aos-delay="600">
                <div class="info">
                    <div class="info-icon">
                        <i class="fa fa-envelope-o"></i>
                    </div>
                    <div class="info-content">
                        <h4 class="title">Email</h4>
                        <span class="info-text">
                            <a href="mailto:info@tnsolution.vn">info@tnsolution.vn</a>
                            <br>
                            <a href="mailto:sales@tnsolution.vn">sales@tnsolution.vn</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact Information End -->
<!-- Contact Map Start -->
<div class="contac-map pb-90">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!--Google Map Area Start-->
                <div class="google-map-area">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.789355704406!2d106.71634341428684!3d10.75071136260881!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f1498bcc1c7%3A0xbaa2450999a48774!2zQ8OUTkcgVFkgQ-G7lCBQSOG6pk4gVE4gU09MVVRJT04!5e0!3m2!1sen!2s!4v1624411315225!5m2!1sen!2s" width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
                <!--Google Map Area Start-->
            </div>
        </div>
    </div>
</div>
<!-- Contact Map End -->
<!-- Contact Form Start -->
<div class="contact-form-area bg-light pt-90 pb-90" data-aos="fade-up" data-aos-delay="100">
    <div class="container">
        <div class="row">
            <div class="section-title text-center">
                <h1 class="title">KHI CẦN TƯ VẤN ĐỪNG NGẦN NGẠI !.</h1>
                <p class="mt-5 mb-5 pb-3">Để biết thêm thông tin chi tiết, vui lòng điền thông tin liên lạc bên dưới và chúng tôi sẽ liên lạc với quý khách sớm nhất !.</p>
            </div>
            <div class="offset-lg-2 col-lg-8">
                <div class="contact-form">

                    <div class="row">
                        <div class="col-md-6 col-12 mb-6">
                            <input class="input-item" type="text" placeholder="Họ tên *" name="name" id="txt_name">
                        </div>
                        <div class="col-md-6 col-12 mb-6">
                            <input class="input-item" type="email" placeholder="Email *" name="email" id="txt_email">
                        </div>
                        <div class="col-12 mb-6">
                            <input class="input-item" type="text" placeholder="Tiêu đề *" name="subject" id="txt_subject">
                        </div>
                        <div class="col-12 mb-6">
                            <textarea class="textarea-item" name="message" placeholder="Nội dung" id="txt_message"></textarea>
                        </div>
                        <div class="col-12 text-center">
                            <button class="btn btn-primary btn-hover-dark" type="button" id="btnSend">Gửi</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 form-messege text-center">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        var url = "@Url.Action("SendMail", "Home")";
        $("#btnSend").click(function () {
            $.ajax({
                url: url,
                type: 'POST',
                data: {
                    "Email": $("#txt_email").val(),
                    "Name": $("#txt_name").val(),
                    "Title": $("#txt_subject").val(),
                    "Content": $("#txt_message").val(),
                },
                beforeSend: function () {
                    $(".form-messege").empty();
                    $(".form-messege").text("Đang gửi mail");
                },
                success: function (r) {
                    $(".form-messege").empty();
                    $(".form-messege").append(r.message);
                    alert(r.message);
                },
                error: function (err) {
                    $(".form-messege").append(err.responseText);
                },
                complete: function () {

                }
            });
        });
    </script>
}