﻿@{
    ViewData["Title"] = "Home Page";
}
<!--Style for home only-->
<style>
</style>

@await Component.InvokeAsync("Banner")
<!--Giới thiệu|  Group1 là ID đặt trong form tuỳ chỉnh-->
@await Component.InvokeAsync("Intro", "Group1")
<!--Dịch vụ |  Group2 là ID đặt trong form tuỳ chỉnh-->
@await Component.InvokeAsync("Services", "Group2")
<!--Group 3|  Group3 là ID đặt trong form tuỳ chỉnh-->
@await Component.InvokeAsync("YearsNo", "Group3")
<!--Khách hàng tiêu biểu| Group4 là ID đặt trong form tuỳ chỉnh-->
@await Component.InvokeAsync("Customer", "Group4")

<div class="support-area bg-light pt-90 pb-90 mt-90">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="support-wrapper aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
                    <div class="section-title text-center">
                        <h1 class="title">Bạn có dự án nào không?</h1>
                        <p class="mt-5 mb-5 pb-3">Hoặc bạn muốn làm việc với chúng tôi hay muốn tìm hiểu thêm về những gì chúng tôi đã làm, chúng tôi rất muốn nghe ý kiến ​​của bạn.</p>
                    </div>
                    <div class="support-button">
                        <a class="btn btn-dark btn-hover-primary" asp-controller="Home" asp-action="Contact">Liên hệ với chúng tôi</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>