﻿@using WebSite
@model List<Article_Category_Model>
@{
    var ListParent = Model.Where(s => s.Parent == 0).ToList();
}

<nav id="menu" class="nav-main" role="navigation">
    <ul class="nav nav-main" style="">
        <li>
            <a href="@Url.Action("Banner", "Admin")">
                <i class="fas fa-minus"></i>
                <span>
                    Slide hình ảnh
                </span>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Article_Category", "Admin")">
                <i class="fas fa-minus"></i>
                <span>
                    Danh mục nội dung
                </span>
            </a>
        </li>

        <li class="nav-parent">
            <a href="#" class="nav-link">
                <i class="fas fa-minus"></i>
                <span>Nội dung</span>
            </a>
            <ul class="nav nav-children">
                @foreach (var rec in ListParent)
                {
                    var ListChild = Model.Where(s => s.Parent == rec.CategoryKey).ToList();
                    if (ListChild.Count > 0)
                    {
                        <li class="nav-parent">
                            <a href="#" class="nav-link">
                                <i class="fas fa-minus"></i><span>@rec.CategoryName</span>
                            </a>
                            <ul class="nav nav-children">
                                @{
                                    foreach (var child in ListChild)
                                    {
                                        var ListSub3 = Model.Where(s => s.Parent == child.CategoryKey).ToList();
                                        if (ListSub3.Count > 0)
                                        {
                                            @*<li class="nav-parent">
                                                <a href="#" class="nav-link">
                                                    <i class="fas fa-minus"></i><span>@child.CategoryName</span>
                                                </a>
                                                <ul class="nav nav-children">
                                                    @{
                                                        foreach (var c3 in ListSub3)
                                                        {
                                                            <li>
                                                                <a href="@Url.Action("Article_List", "Admin", new { c3.CategoryKey})">
                                                                    <i class="fas fa-minus"></i><span>@c3.CategoryName</span>
                                                                </a>
                                                            </li>
                                                        }
                                                    }
                                                </ul>
                                            </li>*@
                                        }
                                        else
                                        {
                                            <li>
                                                <a href="@Url.Action("Article_List", "Admin", new { child.CategoryKey})">
                                                    <i class="fas fa-minus"></i><span>@child.CategoryName</span>
                                                </a>
                                            </li>
                                        }
                                    }
                                }
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a href="@Url.Action("Article_List", "Admin", new { rec.CategoryKey})">
                                <i class="fas fa-minus"></i><span>@rec.CategoryName</span>
                            </a>
                        </li>
                    }
                }
            </ul>
        </li>
        <li>
            <a href="@Url.Action("Menu", "Admin")">
                <i class="fas fa-minus"></i><span>Menu Header</span>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Config", "Admin")">
                <i class="fas fa-minus"></i><span>Tuỳ chỉnh </span>
            </a>
        </li>
    </ul>
</nav>
